<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <h1> hello welcome</h1>
    <form action="/submit" method="post">
        <label for="myMarks">myMarks</label><br>
        <input type=" text" id="myMarks" value="0" name="myMarks">
        <input type="submit" value="Submit">

    </form>
</body>

</html>